<div class="aboutPage">
  <div class="wrapper col-sm-5 offset-sm-6">
    <p>
      eaTr was created because meal planning is a pain. From coming up with a
      list of things you want to eat for the week, to making sure you don't
      forget any ingredients on your shopping list.
    </p>
    <p>
      eaTr is a recipe book, meal planning app and shopping list app rolled into
      one.
    </p>
    <p>
      eaTr makes everything as simple as possible. Store your favorite recipes,
      then with a click you can add the ingredients to your shopping list,
      making meal planning a breeze!
    </p>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
