<div class="router darkfont col-12 col-sm-8 offset-sm-2">
  <div>
    <h1>
      <i>{{ recipe.recipeName }}</i>
    </h1>
  </div>
  <div class="recipeIngredients">
    <h4>Ingredients</h4>
    <p>{{ recipe?.ingredients }}</p>
  </div>
  <div class="recipeInstructions">
    <h4>Instructions</h4>
    <p>{{ recipe.instructions }}</p>
    <br />
    <a
      routerLink=""
      class="btn btn-outline-secondary float-end buttonMargin"
      role="button"
    >
      Close
    </a>

    &nbsp;
    <a
      routerLink="/chef/{{ chefId }}/recipes/{{ recipe._id }}/edit"
      class="btn btn-outline-info float-end buttonMargin"
      role="button"
    >
      Edit
    </a>
    <a
      routerLink=""
      class="btn btn-outline-danger float-end buttonMargin"
      role="button"
      (click)="recipeDeleteById()"
    >
      Delete
    </a>

    <br />
    <br />
    <br />
  </div>
</div>
