<div class="shoppingListc">
  <div class="shoppingList">
    <h3>Shopping List</h3>
    <br />
    <div class="form-group row">
      <div class="col-sm-10 row">
        <div class="col-8">New Item</div>
      </div>
      <br />
      <div class="col-12">
        <form (ngSubmit)="onItemSubmit()">
          <div *ngIf="formError" class="alert alert-danger" role="alert">
            {{ formError }}
          </div>
          <div class="col-sm-8 row">
            <input
              id="listItem"
              name="listItem"
              required="required"
              value="Add list item and quantity"
              class="col-8 form-control"
              onclick="this.value='';this.style.color='black';"
              [(ngModel)]="newItem.listItem"
            />
            <br />
            <button
              type="submit"
              routerLink="shoppingList"
              class="btn btn-primary float-right"
              style="margin-left: 15px"
            >
              Add Item
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-12 col-md-3" *ngFor="let item of items; let i = index">
      <span *ngIf="item.listItemComplete == true">
        <input
          type="checkbox"
          checked="true"
          id="listItemComplete"
          name="listItemComplete"
          (click)="updateItem(i)"
        />&nbsp;
        <label class="strikethrough" for="listItemComplete">{{
          item.listItem
        }}</label></span
      >
      <span *ngIf="item.listItemComplete == false">
        <input
          type="checkbox"
          id="listItemComplete"
          name="listItemComplete"
          (click)="updateItem(i)"
        />&nbsp;
        <label class="strikethrough" for="listItemComplete">{{
          item.listItem
        }}</label></span
      >
      <span class="iconRight">
        <button
          class="iconRight fas fa-times"
          (click)="itemDeleteById(i)"
        ></button>
      </span>
      <br />
    </div>
  </div>
</div>
