<div class="router col-12 col-sm-8 offset-sm-2">
  <form (ngSubmit)="onRecipeUpdate()">
    <h1>
      <i>Update {{ recipe.recipeName }}</i>
    </h1>
    <br />
    <div *ngIf="formError" class="alert alert-danger" role="alert">
      {{ formError }}
    </div>

    <div class="form-floating mb-3">
      <input
        required="required"
        class="form-control"
        name="recipeName"
        value="{{ recipe.recipeName }}"
        [(ngModel)]="editRecipe.recipeName"
      />
      <label for="recipeName">Recipe Name</label>
    </div>

    <div class="form-floating mb-3">
      <input
        required="required"
        class="form-control"
        name="ingredient"
        value="{{ recipe?.ingredients }}"
        [(ngModel)]="editRecipe.ingredients"
      />
      <label for="floatingPassword">Ingredients</label>
    </div>

    <div class="form-floating mb-3">
      <textarea
        style="height: 150px"
        required="required"
        class="form-control"
        name="directions"
        value="{{ recipe.instructions }}"
        [(ngModel)]="editRecipe.instructions"
      ></textarea>
      <label for="directions">Directions</label>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <button
          type="submit"
          class="btn btn-outline-secondary float-end"
          style="margin-left: 15px"
        >
          Update Recipe
        </button>
        <a
          role="button"
          class="btn btn-outline-danger float-end"
          routerLink="/chef/{{ chefId }}/recipes/{{ recipe._id }}"
        >
          Cancel
        </a>
      </div>
    </div>
  </form>
</div>
