<div id="titleBar" class="sticky-top">
  <span id="titleName">
    <a
      routerLink="newRecipe"
      routerLinkActive="active"
      class="brand"
      routerLink=""
      >eaTr</a
    >
  </span>
  &nbsp;
  <span id="chefName" *ngIf="isLoggedIn()">
    {{ chefName }}
    <button
      (click)="doLogout()"
      style="border: 0; background: none"
      *ngIf="isLoggedIn()"
    >
      <div class="shoelaceIcons">
        <a routerLink="/login" routerLinkActive="active"
          ><sl-icon name="box-arrow-left" class="shoelaceIcons"></sl-icon
        ></a>
      </div>
    </button>
  </span>
  <span class="navIcons">
    <a routerLink="about" routerLinkActive="active"
      ><sl-icon name="info-circle" class="shoelaceIcons"></sl-icon></a
    >&nbsp;
    <a routerLink="newRecipe" routerLinkActive="active" *ngIf="isLoggedIn()"
      ><sl-icon name="plus-circle" class="shoelaceIcons"></sl-icon></a
    >&nbsp;
    <a routerLink="shoppingList" routerLinkActive="active" *ngIf="isLoggedIn()"
      ><sl-icon name="list-check" class="shoelaceIcons"></sl-icon
    ></a>
  </span>
</div>
